@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@keyframes backgroundGradient {
  0% {background-image: linear-gradient(45.34deg, #4F4F4F 5.66%, #ECD3A1 94.35%)}
  20% {background-image: linear-gradient(45deg, #191654, #43C6AC)}
  40% {background-image:linear-gradient(45.34deg, #119DA4 5.66%, #9BC7B2 31.53%, #FFE5BB 50.01%, #FFBE99 72.18%, #FF886A 94.35%)}
  60% {background-image: linear-gradient(45deg, #191654, #43C6AC)}
  80%  {background-image: linear-gradient(45deg, #2bc0e4, #eaecc6 )}
  100% {background-image: linear-gradient(45deg, #11A49B, #90FC8E)}
}

body {
   margin: 0;
   height: 100%;
   animation: backgroundGradient 25s ease 0s infinite;
   overflow: hidden;
}

canvas {
   display: block;
}

h1{
   font-size: 30px;
   position: absolute;
   top: 2em;
   left: 2em;
   text-transform: none;
   width: auto;
   line-height: .8em;
   border: 5px solid white;
   padding: 20px;
   font-family: 'Bangers', cursive;
   letter-spacing: 6px;
   user-select: none;
   color: black;

}

.title::before,.title::after{
   content:"";
   position: absolute;
   width: 20px;
   height: 6px;
   background: #000000;
   transform: skewX(-45deg);

}

.title::before{
   top: -5px;
}

.title::after{
   bottom: -5.5px;
   right: 15px;
}

.container{

   position: relative;
}

.btn {

   background: none;
   color: white;
   outline: none;
   cursor: pointer;

}

#mute {
   position: absolute;
   top: 30px;
   left: 60px;
   border: 2px solid white;
   border-radius: 50%;
   padding: 5px;
   padding-left: 11.5px;
   padding-right: 12px;
}

#play {
   position: absolute;
   top: 30px;
   left: 120px;
   border: 2px solid white;
   padding:5px;
   border-radius: 50%;
}
